/*
* @Author: yuyongtao
* @Date:   2018-06-02 10:34:26
* @Last Modified by:   yuyongtao
* @Last Modified time: 2018-06-02 15:59:48
*/

/* 导航主体 */
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}