/*
* @Author: yuyongtao
* @Date:   2018-06-02 10:34:26
* @Last Modified by:   yuyongtao
* @Last Modified time: 2018-06-02 15:58:14
*/

.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}