/*
* @Author: yuyongtao
* @Date:   2018-06-02 10:34:26
* @Last Modified by:   yuyongtao
* @Last Modified time: 2018-06-02 16:00:38
*/

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}